@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col s12 m6 ">
      <div class="card  ">
        <div class="card-image center blue darken-3">
          <i class="material-icons large">local_hospital</i>
          
         
        </div>
        <div class="card-content">
            <span class="card-title">Cuidar nuestra salud mental</span>
          <p>Las nuevas realidades del teletrabajo, el desempleo temporal, la enseñanza en casa y la falta de contacto físico con familiares, amigos y colegas requieren tiempo para acostumbrarse. Adaptarnos a estos cambios en los hábitos de vida y enfrentarnos al temor de contraer la COVID-19 y a la preocupación por las personas próximas más vulnerables es difícil, y puede resultar especialmente duro para las personas con trastornos de salud mental.Afortunadamente, son muchas las cosas que podemos hacer para cuidar nuestra salud mental y ayudar a otras personas que pueden necesitar más apoyo y atención.</p>
          <div class="card-action">
            <a href="https://www.who.int/es/campaigns/connecting-the-world-to-combat-coronavirus/healthyathome/healthyathome---mental-health?gclid=CjwKCAiAv_KMBhAzEiwAs-rX1HXnuxyNtdzxOBA2kraiiwyTXXENDpAi2Y9nhTzyJ4e5a2y2_KFoGRoCKcQQAvD_BwE">Ver más</a>
            
        </div>
        </div>
      </div>
</div>
<div class="row">

  <div class="col s12 m6 " >
        <div class="card  ">
          <div class="card-image center blue darken-3">
            <i class="material-icons large">medication_liquid</i>
            
          
          </div>
          <div class="card-content">
              <span class="card-title">Intoxicación por medicamentos</span>
            <p>Los errores en la identificación y posología (concretamente, dobles y triples dosis de los fármacos que se toman habitualmente) o la confusión entre varios medicamentos son el principal motivo de consulta al Servicio de Información Toxicológica en la población adulta (sobre todo en la tercera edad), según datos del Instituto Nacional de Toxicología y Ciencias Forenses. Y, también, se trata de los principales despistes o acciones involuntarias implicadas en las intoxicaciones  medicamentosas accidentales, un problema que, como explica David Israel Delucca, principal investigador de las diversas situaciones ocurridas en el país.</p>
            <div class="card-action">
              <a href="https://cuidateplus.marca.com/medicamentos/2020/06/02/intoxicacion-medicamentos-signos-alerta-como-actuar-173524.html">Ver más</a>
              
          </div>
        </div>
      </div>
    </div>
      
  </div>
</div>
  

  

